.section-hero__inner-container {
    flex-direction: column;
    align-items: center;
    gap: 1.0625rem;
}

.section-profile__inner-container {
    background-color: var(--primary-bg-color);
    display: flex;
}

.profile_picture {
    width: 10rem;
    height: 10rem;
    border-radius: 5%;
}

.section-profile_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.section-profile_data {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.profile_data {
    list-style: none;
}