/*////////////////////////
    Table of Contents
    1. Form Styles
    2. Media Queries
////////////////////////*/

/* 1. Form Styles */
.section-register__autism {
    margin: 4px 0 0 0;
    font-weight: bold;
    text-align: left;
}

.register-form select, input{
    width: 100%;
    padding: 10px 8px;
    margin: 0 0 6px 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

.register-form select:focus, .register-form input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.register-image {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--secondary-bg-button);
    border-radius: 3.125rem;
    text-align: center;
}

.file-input {
    display: none;
}

/* 2. Media Queries */
@media screen and (max-width: 1200px) {
    .register-form {
        padding: 25px;
        width: 60%;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 992px) {
    .register-image{
        font-size: 1rem;
        padding: 5px 10px;
    }

    .register-form {
        padding: 20px;
        width: 80%;
        gap:0.4rem;
    }
}

@media screen and (max-width: 768px) {
    .register-form {
        padding: 10px;
        width: 90%;
        gap: 0.2rem;
    }
}
