.card-information__title {
    text-align: left;
}

.card-information__name {
    font-size: 1.25rem;
    line-height: 2;
}

.card-information__date {
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5;
}

.card-information__reaction {
    font-size: 1rem;
    font-style: italic;
    font-weight: 275;
    text-align: left;
    line-height: 1.5;
}

.card-information__text {
    text-align: left;
}

.section-forum__card {
    display: flex;
    flex-direction: column;
    padding: 1.06rem 1.31rem 0.75rem 1.38rem;
    gap: 1.25rem;
    width: 52.5rem;
}

.section-forum__card-information {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.card-information__logo-section {
    display: flex;
    align-items: center;
    gap: 1.0625rem;
}

.card-information__logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.section-forum__main {
    display: flex;
    gap: 1.25rem;
}

.image {
    width: 5.25rem;
    height: 5.25rem;
}

.logo-like {
    width: 1.25rem;
    height: 1.25rem;
}

.logo-view {
    width: 1.6rem;
    height: 1.6rem;
}

.button{
    display: inline-flex;
    padding: 0.375rem 0.875rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-button);
    color: var(--primary-text-color);
    border: none;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15625rem;
    height: 2.125rem;
}

.button-left {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-right: 0.15rem solid var(--primary-bg-button);
}

.button-right {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-left: 0.15rem solid var(--primary-bg-button);
}

.button:hover {
    background-color: var(--primary-bg-button);
    transform: scale(1.05);
    font-weight: 600;
}

/*werkt niet*/
.button:active {
    background-color: var(--primary-bg-button);
    transform: scale(1.05);
    font-weight: 600;
}