.related-forums {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
}

.forums-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 1.35rem;
    font-weight: 400;
    text-align: right;
}

.title {
    font-size: 1.575rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.forums-list a {
    text-decoration: none;
    color: inherit;
}

.forums-list a:visited {
    color: inherit;
}

.forums-list a:hover {
    color: var(--secondary-color);
    font-weight: 500;
}