.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.inner-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px 50px 20px;
    gap: 3.12rem;
    padding-top: 7.75rem;
    border: 2px solid orange;
}

