/*////////////////////////
    Table of Contents
    1. Media Queries
////////////////////////*/

/* 1. Media Queries */
@media screen and (max-width: 1200px) {
    .login-form {
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .login-form {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .login-form {
        padding: 25px;
        width: 60%;
        gap: 0.5rem;
    }
}