.outer-container {
    height: 6.25rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.navigation__outer-container {
    flex-basis: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.navigation__inner-container {
    display: flex;
    width: 27.8125rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.navigation__inner-container--forum {
    display: flex;
    width: 6.375rem;
    padding: 0.125rem 0.6875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
}

.navigation__inner-container a {
    color: black;
    text-decoration: none;
}

.navigation__inner-container--forum a {
    color: white;
    text-decoration: none;
}

.navigation__inner-container--forum a:active {
    font-weight: bolder;
}
.navigation__inner-container a:hover {
    color: var(--primary-bg-button);
    font-weight: bold;
}

.navigation__inner-container a:active {
    color: var(--primary-bg-button);
    font-weight: bold;
}

/* de active link css is te vinden in app.css - deze werkt niet wanneer ik hem hier toevoeg*/