/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Logo
        2.2 Links
        2.3 Button
    3. Media Queries
////////////////////////*/


/* 1. Global Styles */
.outer-container {
    height: 6.25rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.navigation__outer-container {
    flex-basis: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

/* 2. Areas */
/* 2.1 Logo */
.home-logo {
    width: 3rem;
    height: 3rem;
}

/* 2.2 Links */
.navigation__inner-container {
    display: flex;
    width: 15.8125rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-left: 25rem;
}

.navigation__inner-container--forum {
    display: flex;
    width: 6.375rem;
    padding: 0.125rem 0.6875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
}

.navigation__inner-container a {
    color: black;
    text-decoration: none;
}

.navigation__inner-container--forum a {
    color: white;
    text-decoration: none;
}

/* 2.3 Button */
.user-actions {
    display: flex;
    align-content: center;
    width: 30rem;
    justify-content: flex-end;
}

.user-info {
    z-index: 2;
    margin-right: -1.5rem;
}

.logout-button {
    z-index: 1;
    margin-left: -0.75rem;
}

.profile-photo {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin: 0;
    vertical-align: middle;
}

/* 3. Media Queries */
@media screen and (max-width: 1200px) {
    .navigation__outer-container {
        width: 100%;
        margin: 1rem 2rem;
    }

    .navigation__inner-container {
        margin: 0 1rem;
    }

    .user-actions {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .navigation__outer-container {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .outer-container {
        height: 10rem;
    }

    .navigation-logo {
        align-self: flex-start;
        margin-left: 1rem;
    }

    .user-actions {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }
}
