/*////////////////////////
    Table of Contents
    1. Global Styles
////////////////////////*/

/* 1. Global Styles */
.contact {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}