.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--primary-bg-color);
}

.inner-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px 10px 20px;
    /*gap: 3.12rem;*/
}

.section-error__inner-container {
    align-items: center;
    padding-top: 3.75rem;
    gap: 1.12rem;
}

.section-error__image {
    width: 15.8125rem;
}