.terms-page {
    display: flex;
    flex-direction: column;
    padding: 9rem 9rem 4rem 9rem;
    background-color: var(--primary-bg-color);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.terms-page h2,
.terms-page p {
    text-align: left;
}

.terms-page ul {
    list-style-type: none;
}