.populair-topics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
}

.topics-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 1.35rem;
    font-weight: 400;
    text-align: right;
}

.title {
    font-size: 1.575rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.topics-list a {
    text-decoration: none;
    color: inherit;
}

.topics-list a:visited {
    color: inherit;
}

.topics-list a:hover {
    color: var(--secondary-color);
    font-weight: 500;
}

/*Media Queries*/
@media screen and (max-width: 992px) {
    .populair-topics {
        align-items: center;
    }

    .topics-list {
        text-align: center;
    }
}