.section-hero__inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 20px 50px 20px;
}

.section-hero__inner-container-text {
    width: 32.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.section-hero__subtitle {
    text-align: left;
}

.section-benefits__outer-container {
    background-color: var(--primary-bg-color);
    padding: 3rem 1rem;
}

.section-benefits__inner-container {
    display: flex;
    justify-content: center;
    gap: 6.1875rem;
}

.button-register {
    display: flex;
    justify-content: center;
}

.section-forums {
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem;
}

.section-forums__inner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.75rem;
    justify-content: center;
}

.section-reviews__outer-container {
    background-color: var(--primary-bg-color);
    padding: 3rem 8rem;

}

.section-reviews__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6.75rem;
}

.section-title {
    margin-bottom: 2rem;
}